<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="image/icons8-xing-squared-57.png" sizes="50x50">
  <title>INCLUDE Login Page | CodingNepal</title>
  <link rel="stylesheet" href="dangnhap.css">
</head>
<body>
<div class="container flex">
  <div class="facebook-page flex">
    <div class="text" >
      <h1 style="color: #6c2eca">Create Test</h1>
      <p> Teachers love us  😍</p>
      <p>Join over 200 million educators <br>
        and learners on Quizz</p>
    </div>
    <form method="POST" action="/finduser">
      <input type="text" name="taikhoan" placeholder="Username" required>
      <input type="password" name="mk1" placeholder="Password" required>
      <div class="link">
        <button type="submit" class="login" style=" background: #6c2eca; color: #ffffff">Login</button>
        <a href="" class="forgot" style="color: #6c2eca">Forgot password?</a>
      </div>
      <hr>
      <div class="button">
        <a href="/signup" style=" background: #4b208c; color: #ffffff">Create new account</a>
      </div>
    </form>
  </div>
</div>
</body>
</html>
</html>